<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>BookLove</title>
</head>

<body>
    <header>
        <a href="/ingelogd">
            <h1>BookLove</h1>
        </a>
        <a href="/eigenprofiel"><img src="/images/Profile%20Large.png" alt="Profiel"></a>
        <a href="/berichten"><img class="berichten" src="/images/bericht.png" alt="Logo"></a>
        <a class="logout" href=/log-out>Log uit</a>

    </header>
    <main>
        <section class="inloggen hidden boekToevoegenSection">
            <h2>Voeg je boek toe</h2>
            <p class="boekToevoegenSluit">sluiten</p>
            <form action="/boekToevoegen" method="post">

                <select name="ISBN">
                    <option value="9789023466413">De acht bergen - Paolo Cognetti</option>
                    <option value="9789029523950">Slotcouplet - Sander de Hosson</option>
                    <option value="9789048840243">Gordon - Marcel Langedijk</option>
                    <option value="9789400406254">Mythos - Steven Fry</option>
                    <option value="9789492798039">Lichter - William Cortvriendt</option>
                </select>
                <input type="submit" value="toevoegen" class="boekToevoegenSubmit" id="inloggenSubmit">
            </form>
        </section>
        <section class="eigenProfielSection">

            <img class="kandidaad" src="/image/<%= data[0].id %>.jpg" alt="<%= data[0].naam %>">
            <h2>
                <%= data[0].naam %>
            </h2>
            <a href="/aanpassenForm"><img class="editButton" src="/images/edit@2x.png" alt="edit"></a>
            <h4>Woonplaats:</h4>
            <p>
                <%= data[0].woonplaats %>
            </p>
            <h4>Geboortedatum:</h4>
            <p>
                <%= data[0].geboortedatum %>
            </p>
            <h4>Jouw bibliotheek:</h4>
            <ul>

                <% if (data[0].ISBN){ data.forEach(function (entity) { %>
                    <li>
                        <form method="POST" action="/<%= entity.ISBN %>?_method=DELETE">
                            <button type="submit">Verwijder</button>
                        </form><img data-isbn="<%= entity.ISBN %>" src="/images/<%= entity.ISBN %>.jpg" alt=""></li>
                    <% })} %>
                        <li class="boekToevoegen"><img src="/images/add@2x.png" alt=""></li>
            </ul>
        </section>
    </main>
    <script src="/javaprofielstap2.js"></script>
</body>
