<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>BookLove</title>
</head>

<body>
    <header>
        <h1>BookLove</h1>
        <a href="./eigenprofiel"><img src="/images/Profile%20Large.png" alt="Profiel"></a>
        <a href="./berichten"><img class="berichten" src="/images/bericht.png" alt="Logo"></a>
        <a class="logout" href=/log-out>Log uit</a>

    </header>
    <main>
        <% data.forEach(function (entity) { %>
            <section class="profielSectionIngelogd">

                <a href="/<%= entity.id %>"><div class="kandidaad"><img class="kandidaad" src="/image/<%= entity.id %>.jpg" alt="<%= entity.naam %>"></div>
               
                <h2>
                    <%= entity.naam %>
                </h2>
                <h3> <%= entity.boek %></h3>
                </a>
                <a href="mailto:<%= entity.email %>"><img class="chat" src="/images/chatLeeg.png" alt="chat"></a>
            </section>
            <% }) %>
    </main>

</body>
