<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>BookLove</title>
</head>

<body>
    <header>
        <a href="/ingelogd">
            <h1>BookLove</h1>
        </a>
        <a href="/eigenprofiel"><img src="/images/Profile%20Large.png" alt="Profiel"></a>
        <a href="/berichten"><img class="berichten" src="/images/bericht.png" alt="Logo"></a>
        <a href=/log-out>Log out</a>

    </header>
    <main>
        <section class="profielSection">
            <div class="kandidaad">
            <img src="/image/<%= data[0].id %>.jpg" alt="geert mak"></div>
            <img class="chat" src="/images/chatLeeg.png" alt="chat">
            <h2>
                <%= data[0].naam %>
            </h2>

            <h4>Woonplaats:</h4>
            <p>
                <%= data[0].woonplaats %>
            </p>
            <h4>Geboortedatum:</h4>
            <p>
                <%= data[0].geboortedatum %>
            </p>
            <h4>De bibliotheek van
                <%= data[0].naam %>:</h4>
            <ul>

                <% if (data[0].ISBN){ data.forEach(function (entity) { %>
                    <li>
                        <img data-isbn="<%= entity.ISBN %>" src="/images/<%= entity.ISBN %>.jpg" alt=""></li>
                    <% })} %>
            </ul>

        </section>

    </main>
</body>
